# Autotools/CMake artifacts
/autom4te.cache/
/build/
/config.log
/config.status
/libtool
/stamp-h1

# Generated directories
/.deps/
/.libs/
/src/.deps/
/src/.libs/
/doc/.deps/
/doc/.libs/

# Example build outputs
/examples/**/.deps/
/examples/**/.libs/
/examples/**/queen
/examples/**/result
